.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    position: relative;
    float: left;
    margin: 1%;
  }
  .progress {
    width: 0%;
    height: 100%;
    background-color: #4CAF50;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s;
    border-radius: 0px;
  }



  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  label {
    /* display: flex; */
    justify-content: left;
    /* align-items: left;     */
    font-size: 18px;
    margin-bottom: 5px;
  }

  input[type="text"], textarea {
    /* height: 300px; */
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 1.1em;
    border: .5px solid #ffbb00 !important;

  }

  input[type="submit"] {
    background: var(--sidebar-bg);
    color: var(--btn-backtotop-color);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-size: 1.2em;
    max-width: 40%;
    min-width: 20%;
    position: center;
    margin-top: 2%;
  }

  input[type="submit"]:hover {
    border: .5px solid #ffbb00 !important;
    background-color: #1c1e26;    
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .success {
    background-color: #d4edda;
    color: #ffbb00;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
  }

  .error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
  }

  #message {
    height: 250px;
  }



@media (max-width: 1079px) and (min-width: 768px) {
  input[type="text"], textarea {
    width: 90%;
  }

}


@media (max-width: 767px) {
  input[type="text"], textarea {
    width: 95%;
    font-size: .9em;

  }
  .container {
	width: 100%;
  }
}

code {
	color: var(--theme-gold);
}