.box-placeholder {
    margin: 0 auto;
    margin-top: -2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* background-color: yellowgreen; */
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

#welcome-title{
    margin-top: 0%;
    /* background-color: blueviolet; */
    position: relative;
}

h2 {
    /* display: inline-block; */
    padding-bottom: 5%;
}

.image-grid a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-grid .fade-in-image {
    width: 95%;
    height: 95%;
    object-fit: cover;
    transition: transform 3s ease-in-out, opacity 4s ease-in-out, filter 7s ease-in-out;
    filter: grayscale(100%);
    opacity: 0.005;
    transform: scale(.1);
    transform-origin: center;
}

.image-grid .fade-in-image.active {
    opacity: .9;
    transform: scale(1);
    filter: grayscale(20%);
}


@media (min-width: 1080px) {
    .image-grid a {
        width: 25%;
    }
}

@media (max-width: 1079px) and (min-width: 768px) {
    .image-grid a {
        width: 33%;
    }
}

@media (max-width: 767px) {
    .image-grid a {
        width: 50%;
    }
}


#sliding-blocks {

    padding-top: 0;
    height: 250px;
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* background-color: blue; */
  }
  
  #container {
    width: 85%;
    height: 95%;
    /* position: absolute;
    display: flex; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
  }
  
  .block {
    opacity: .5;
    width: 98%;
    height: 98%;
    background-color: azure;
    position: absolute;
    /* transition: transform 0.5s ease; */
    transition: opacity 1.2s ease, transform 2.5s ease-out;
    color: black;
  }
  
  .active {
    transform: translateX(0);
    opacity: .9;
  }
  
  .inactive-right {
    /* transform: translateX(-40%); */
    transform: translateX(40%);
    opacity: 0;
  }
  .inactive-left {
    transform: translateX(-40%);
    /* transform: translateX(40%); */
    opacity: 0;
  }
  