.box-placeholder .text-block{
  background-color: azure;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  width: 100%;
  padding: 5% 5% 1% 5%;
  margin-top: 8%;
  margin-bottom: 1%;
  margin-left: -3%;
  opacity: .97;
}

.box-placeholder {
    margin: 0 auto;
    margin-top: -2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 104%;
    /* background-color: red; */
    
}

#contact-me {
  float: inline-end;
}

.box-placeholder .text-box{
  font-size: 1.2em;
  font-weight: 100;
  width: 95%;
  color: #444546;
  word-spacing: 40%;
  /* background-color: blue; */
  /* margin-bottom: 2%; */
  padding: 5% 5% -5% 5%;
}

.text-box{
  text-align: justify;
}

.box-placeholder .text-box b{
  font-size: 1.005em;
  font-weight: 600;
  color: #222730;;
}

.image-grid {
  /* background-color: azure; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

#welcome-title, #sub-title{
    font-size: 2.4em;
    font-weight: bold;
    margin-top: 0%;
    margin-left: -5%;
    /* background-color: blueviolet; */
    position: relative;
    width: 110%;
    text-align: center;
    margin-bottom: -5%;
    /* background-color: red; */
}

h2 {
    /* display: inline-block; */
    padding-bottom: 5%;
}

.image-grid a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-grid .fade-in-image {
    width: 98%;
    height: 95%;
    object-fit: cover;
    transition: transform 3s ease-in-out, opacity 7s ease-in-out, filter 9s ease-in-out;
    filter: grayscale(100%);
    opacity: 0.005;
    transform: scale(.1);
    transform-origin: center;
}

.image-grid .fade-in-image.active {
    opacity: 1;
    transform: scale(1);
    filter: grayscale(20%);
}



#sliding-blocks {
  
  margin: 0 auto;
  /* margin-top: -1.5%; */
  margin-left: 1%;
  padding-top: 0;
  height: 310px;
  width: 98%;
  position: relative;
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; */
  
  /* background-color: blue; */
  /* border: blue solid 1px; */
}

  #container {
    width: 99%;
    height: 97%;
    margin-left: 1%;
    /* position: absolute;
    display: flex; */
    /* position: inherit; */
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    background-color: #ffbb00;
    /* background-color: #444546; */
  }
  
  .block {
    margin: 1% auto;
    margin-top: 1.05%;
    margin-left: .4%;
    opacity: .5;
    width: 99%;
    height: 95%;
    background-color: azure;
    position: absolute;
    /* transition: transform 0.5s ease; */
    transition: opacity 1s ease, transform 1s ease-in-out;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1% 10% 1% 10%;
  }
  .block p{
    font-size: 2.2em;
    width: 30%;
    /* margin: 0 0 1em 0; */
  }
  
  .block img{
    object-fit: cover;
    /* display: inline-flex; */
    width: 65%;
    height: 290px;
    /* max-height: 100%; */
    /* margin: auto; */
    float: right;
  }
  
  .active {
    transform: translateX(0);
    opacity: .9;
  }
  
  .inactive-left {
    /* transform: translateX(-40%); */
    transform: translateX(-50%);
    opacity: 0;
  }
  .inactive-right {
    transform: translateX(50%);
    /* transform: translateX(40%); */
    opacity: 0;
  }
  
    
  @media (min-width: 1080px) {

    .image-grid .image-link-type1{
        width: 25%;
    }
    .image-grid .image-link-type2{
        width: 40%;
    }
    .image-grid .left{
      padding-right: 1%;
      padding-left: 4%;
    }
    .image-grid .right{
      padding-left: 1%;
      padding-right: 4%;
    }
    
  }
  
  @media (max-width: 1079px) and (min-width: 768px) {

    .image-grid .image-link-type1{
        width: 29%;
    }
    .image-grid .image-link-type2{
      width: 39%;
    }

  }


  @media (max-width: 767px) {
    .image-grid .image-link-type1{
        width: 50%;
    }
    .image-grid .image-link-type2{
      width: 100%;
    }


    #welcome-title{
      margin-left: 2%;
      font-size: 1.8em;
      width: 90%;
      /* background-color: blue; */
      align-items: center;
      justify-content: center;
    }
    #sliding-blocks{
      margin-top: 3%;
      width: 102%;
      margin-left: -2.5%;
      height: 360px;
    }
    #container {
      width: 105%;
      margin-left: -1.5%;
      padding-bottom: -5%;
      /* background-color: red; */
    }

    .block{
      /* background-color: blue; */
      /* margin-left: -5%; */
      height: 103%;
    }
    .block p{
      margin-left: -5%;
      /* display: flex; */
      /* font-size: 1.1em; */
      width: 100%;
      /* margin: 0 0 1em 0; */
    }
    
    .block img{
      margin-left: -3%;
      /* object-fit: cov */
      /* er; */
      /* display: inline-flex; */
      width: 200%;
      margin-bottom: 20px;
      /* height: 290px; */
      /* max-height: 100%; */
      /* margin: auto; */
      /* float: right; */
    }
    .active{
      flex-direction: column;
      align-content: center;
      text-align: center;
      margin-top: -1%;
      /* height: 105%; */
      padding: 1% 2% 1% 5%;
      opacity: 1;
    }
    
  }
  
