/*
 * The main dark mode styles
 *

 /* Framework color 
 --main-wrapper-bg: rgb(49, 64, 94);
 */
 @mixin dark-scheme {
  --body-bg: var(--main-wrapper-bg);
  --mask-bg: #444546;
  --main-wrapper-bg: #222730;
  --main-border-color: #1c1e26;

  /* Common color */
  --text-color: #e4f3e9;
  --text-muted-color: #e4f3e9;
  --heading-color: e4f3e9;
  --blockquote-border-color: #424242;
  --blockquote-text-color: #e4f3e9;
  --link-color: #e4f3e9;
   --link-underline-color: #e4f3e9;
  --button-bg: rgb(39, 40, 43);
  --btn-border-color: rgb(63, 65, 68);
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: var(--btn-border-color);
  --btn-box-shadow: var(--main-wrapper-bg);
  --card-header-bg: var(--main-wrapper-bg);
  --label-color: #e4f3e9;
  --checkbox-color: rgb(119, 121, 118);
  --checkbox-checked-color: var(--link-color);
  

  /* Sidebar 
    --sidebar-bg: radial-gradient(circle, #224785 0%, #1d1f27 100%);
  */
  --sidebar-bg: #1d1f27 100%;
  --sidebar-muted-color: #f3e4e4;
  --sidebar-active-color: #f4b6b6;
  --nav-cursor-color: #f4b6b6;
  --sidebar-btn-bg: ;

  /* Topbar */
  --topbar-text-color: var(--text-color);
  --topbar-wrapper-bg: #1d1f27;
  --search-wrapper-bg: #222227;
  --search-wrapper-border-color: #222227;
  --search-icon-color: rgb(100, 102, 105);
  --input-focus-border-color: rgb(112, 114, 115);

  /* Home page */
  --post-list-text-color: #f3e4e4;
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: #1c1e26;
  --btn-paginator-border-color: var(--btn-border-color);
  --btn-text-color: var(--text-color);
  --pin-bg: #e4f3e9;
  --pin-color: inherit;

  /* Posts */
  --toc-highlight: #e4f3e9;
  --tag-bg: rgb(41, 40, 40);
  --tag-hover: rgb(43, 56, 62);
  --tb-odd-bg: rgba(42, 47, 53, 0.52); /* odd rows of the posts' table */
  --tb-even-bg: rgb(31, 31, 34); /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: rgb(189, 194, 223);
  --btn-share-color: #bfc1ca;
  --btn-share-hover-color: #f4b6b6;
  --relate-post-date: var(--text-muted-color);
  --card-bg: #222227;/*#fde2e2; */
  --card-border-color: #fde2e2;
  --card-box-shadow: var(--main-wrapper-bg);
  --preview-img-bg: radial-gradient(circle, rgb(22 22 24) 0%, rgb(32 32 32) 100%);
  --kbd-wrap-color: #6a6a6a;
  --kbd-text-color: #d3d3d3;
  --kbd-bg-color: #242424;
  --prompt-text-color: rgb(216 212 212 / 75%);
  --prompt-tip-bg: rgba(77, 187, 95, 0.2);
  --prompt-tip-icon-color: rgb(5 223 5 / 68%);
  --prompt-info-bg: #073b68cc;
  --prompt-info-icon-color: #0075d1;
  --prompt-warning-bg: rgb(90 69 3 / 95%);
  --prompt-warning-icon-color: rgba(4, 0, 255, 0.8);
  --prompt-danger-bg: rgb(86 28 8 / 80%);
  --prompt-danger-icon-color: #fffb00;

  /* tags */
  --tag-border: rgb(59, 79, 88);
  --tag-shadow: rgb(32, 33, 33);
  --search-tag-bg: var(--tag-bg);
  --dash-color: rgb(63, 65, 68);

  /* categories */
  --categories-border: rgb(64, 66, 69);
  --categories-hover-bg: rgb(73, 75, 76);
  --categories-icon-hover-color: white;

  /* archives */
  --timeline-node-bg: rgb(150, 152, 156);
  --timeline-color: #3f4144;
  --timeline-year-dot-color: var(--timeline-color);

  .post img[data-src] {
    filter: brightness(95%);
  }

  hr {
    border-color: var(--main-border-color);
  }

  /* posts' toc, override BS */
  nav[data-toggle=toc] .nav-link.active,
  nav[data-toggle=toc] .nav-link.active:focus,
  nav[data-toggle=toc] .nav-link.active:hover,
  nav[data-toggle=toc] .nav > li > a:focus,
  nav[data-toggle=toc] .nav > li > a:hover {
    color: var(--toc-highlight) !important;
    border-left-color: var(--toc-highlight) !important;
  }

  /* categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image:
      linear-gradient(
        to left,
        rgb(26, 26, 30),
        rgb(39, 39, 45),
        rgb(39, 39, 45),
        rgb(39, 39, 45),
        rgb(26, 26, 30)
      );
  }

  color-scheme: dark;

  #disqus_thread {
    color-scheme: none;
  }

} /* dark-scheme */
