@media (min-width: 5000px){
    .DropDown {
        background-color: blue;
        opacity: .6;
        /* padding:10% 0 0 0 ; */

    }
    .DropDown-list a{
        font-size: 700px;
    }
}
@media (max-width: 4000px){
    .DropDown {
        background-color: yellow;
        opacity: .6;
        /* padding:10% 0 0 0 ; */

    }
    .DropDown-list a{
        font-size: 450px;
    }
}

@media (max-width: 3000px){
    .DropDown {
        background-color: red;
        opacity: .6;
        /* padding:10% 0 0 0 ; */
    }
    .DropDown-list a{
        font-size: 350px;
    }
}

@media (max-width: 2500px){
    .DropDown {
        background-color: cyan;
        opacity: .6;
    }
    .DropDown-list a{
        font-size: 300px;
    }
}

@media (max-width: 2000px){
    .DropDown {
        background-color: red;
        opacity: 1;
    }
    .DropDown-list a{
        font-size: 250px;
    }
}

@media (max-width: 1700px){
    .DropDown {
        background-color: blue;
        opacity: .6;
    }
    .DropDown-list a{
        font-size: 190px;
    }
}

@media (max-width: 1400px){
    .DropDown {
        background-color: blue;
        opacity: .6;
    }
    .DropDown-list a{
        font-size: 170px;
    }
}
@media (max-width: 1200px){
    .DropDown {
        background-color: violet;
        opacity: .6;
    }
    .DropDown-list a{
        font-size: 150px;
    }
}

@media (max-width: 1000px){
    .DropDown {
        background-color: violet;
        opacity: 1;
    }
    .DropDown-list a{
        font-size: 130px;
    }
}

@media (max-width: 900px){
    .DropDown {
        background-color: violet;
        opacity: .6;
    }
    .DropDown-list a{
        font-size: 100px;
    }
}

@media (max-width: 650px){
    .DropDown {
        background-color: blue;
        opacity: .8;
    }
    .DropDown-list a{
        font-size: 70px;
    }
}

@media (max-width: 500px){
    .DropDown {
        background-color: red;
        opacity: .8;
    }
    .DropDown-list a{
        font-size: 50px;
    }
}

@media (max-width: 350px){
    .DropDown {
        background-color: cyan;
        opacity: .6;
    }
    .DropDown-list a{
        font-size: 30px;
    }
}
@media (max-width: 200px){
    .DropDown {
        background-color: yellow;
        opacity: .6;
    }
    .DropDown-list a{
        font-size: 25px;
    }
}

@media (max-width: 150px){
    .DropDown {
        background-color: yellow;
        opacity: .6;
    }
    .DropDown-list a{
        font-size: 15px;
    }
}