---
layout: page
# Contact Information
---

{% include lang.html %}

<head>
    <link type="text/css" rel="stylesheet" href="../assets/css/contact.css">

  </head>
  <body>

    <span>
      adrian_noa@icloud.com
    </span>
    <div class="progress-bar-container">
      <div class="progress-bar" data-max-percent="98">
        <div class="progress"></div>
      </div>

      <div class="progress-bar" data-max-percent="60">
        <div class="progress"></div>

      </div>
    </div>

    <span>
      https://www.linkedin.com/in/adrianmnh/
      </span>

    <div class="progress-bar-container">
      <div class="progress-bar" data-max-percent="15">
        <div class="progress"></div>
      </div>
      <div class="progress-bar" data-max-percent="50">
        <div class="progress"></div>
      </div>
    </div>


    <script src="../assets/myJS/contact.js"></script>



      <span> https://github.com/adrianmnh </span>
  </body>
