---
layout: page
# The Home page layout
---

{% include lang.html %}


<head>
    <link rel="stylesheet" href="../assets/css/home.css"> 
  </head>

  <body>

    <div class="box-placeholder">

        <p>
            Welcome to my portfolio! My name is Adrian and I am a senior computer science student at CUNY Queens College. I am excited to share with you my experience and skills that I have developed throughout my educational and professional journey. My passion for technology, software development and computer science have driven me to pursue a career in this field.
        </p>
        <p>
            Throughout my studies, I have had the opportunity to work on various projects that have allowed me to develop a strong set of technical skills in programming languages such as Java, C/C++, Swift, Python..., as well as experience with various software development methodologies and tools. 
        </p>
        <p>
            In addition, I also have a decade of experience in the food service industry, where I have developed a strong set of skills that are transferable to the IT and software engineering field such as time management, attention to detail, problem-solving, communication, adaptability and flexibility, understanding of basic computer software, mathematics, and excellent customer service.
        </p>
        <p>
            I am confident that my knowledge, skills and experience will enable me to contribute effectively in any software development project. In addition to my technical skills, I am also able to apply my problem-solving abilities, attention to detail and ability to work in a team to deliver high-quality software.
        </p>
        <p>
            I hope you will enjoy exploring my portfolio and that it will give you a good understanding of my abilities and potential. I am excited to continue my professional journey and am open to any opportunities that may arise. Thank you for taking the time to visit my portfolio.

            
        </p>


    </div>



    <div class="image-grid">

        <h2>Technologies and Languages </h2>


        <a href="https://www.google.com">
            <img class="fade-in-image" src="assets/img/home/linux.png" alt="image">
        </a>
        
        <a href="https://www.yahoo.com">
            <img class="fade-in-image" src="assets/img/home/linux.png" alt="image">
        </a>

        <a href="tags/c-programming-language/">
            <img class="fade-in-image" src="assets/img/home/linux.png" alt="image">
        </a>

        <a href="tags/c-programming-language/">
            <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
        </a>
        <a href="tags/c-programming-language/">
            <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
        </a>
        <a href="tags/c-programming-language/">
            <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
        </a>
















        <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
        <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
        <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
        <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
        <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
        <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
        <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
        <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
        <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
        <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
        <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
        <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
        <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
        <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
        <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
        <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
    </div>
    <script src="assets/myJS/home.js"></script>

  </body>

