---
layout: page
# The Home page layout
---

{% include lang.html %}


<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="assets/myJS/touch.js"></script>

    <link rel="stylesheet" href="../assets/css/home.css"> 
  </head>

  <body>
    <!-- <div id="parent">
        <div id="container">
                <div class="block">
                <p>Block 2</p>
                </div>
                <div class="block">
                <p>Block 3</p>
                </div>
                <div class="block">
                <p>Block 4</p>
                </div>
                <div class="block">
                <p>Block 5</p>
                </div>
                <div class="block">
                <p>Block 1</p>
                </div>
        </div>
      </div> -->


      
      
      <div class="box-placeholder">
          <h3 id="welcome-title">
              <p class="typewriter" id="welcome-title">⠀<br>⠀</p>
              
            </h3>
            <div class="text-block">
                <p class="text-box">
                    <!-- Hi there! I'm Adrian, a tech-savvy computer science senior with a decade of experience in the food service industry and a passion for software engineering. With a strong foundation in Java, C/C++, Swift, and Python, I bring a unique blend of technical and interpersonal skills to the table. My background in problem-solving, attention to detail, communication, adaptability and flexibility, combined with a commitment to excellent customer service, make me a valuable asset to any software development project. Let's work together to build the next big thing. Take a look at my portfolio and let's connect! -->
                    <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b>Hi</b> there! <b>I&#x27;</b>m <b>Adrian</b>, <b>a</b> <b>tech-</b>savvy <b>comp</b>uter <b>scie</b>nce <b>sen</b>ior <b>wi</b>th <b>a</b> <b>dec</b>ade <b>o</b>f <b>exper</b>ience <b>i</b>n <b>th</b>e <b>fo</b>od <b>serv</b>ice <b>indu</b>stry <b>an</b>d <b>a</b> <b>pass</b>ion <b>fo</b>r <b>soft</b>ware <b>engine</b>ering. 
                    <br>
                    <br>
                    <b>Wi</b>th <b>a</b> <b>str</b>ong <b>found</b>ation <b>i</b>n <b>Java</b>, <b>C/C++</b>, <b>Swift</b>, <b>an</b>d <b>Python</b>, <b>I</b> <b>bri</b>ng <b>a</b> <b>uni</b>que <b>ble</b>nd <b>o</b>f <b>techn</b>ical <b>an</b>d <b>interpe</b>rsonal <b>ski</b>lls <b>t</b>o <b>th</b>e <b>tab</b>le. 
                    <br>
                    <br>
                    <b>M</b>y <b>backg</b>round <b>i</b>n <b>problem-</b>solving, <b>atten</b>tion <b>t</b>o <b>deta</b>il, <b>communi</b>cation, <b>adapta</b>bility <b>an</b>d <b>flexib</b>ility, <b>comb</b>ined <b>wi</b>th <b>a</b> <b>commi</b>tment <b>t</b>o <b>excel</b>lent <b>cust</b>omer <b>serv</b>ice, <b>ma</b>ke <b>m</b>e <b>a</b> <b>valu</b>able <b>ass</b>et <b>t</b>o <b>an</b>y <b>soft</b>ware <b>develo</b>pment <b>proj</b>ect. 
                    <br>

                </p>
            </div>
            

        </div>

    <div id="container">
        <div id="sliding-blocks">

        <!-- <div class="block">
            <p>2</p>
            <img class="slide-img" src="https://w7.pngwing.com/pngs/1012/998/png-transparent-white-number-2-social-media-logo-computer-icons-number-2-infographic-blue-text-thumbnail.png" alt="abc">
        </div>

        <div class="block">
            <p>3</p>
        </div>

        <div class="block">
            <p>4</p>
        </div>

        <div class="block">
            <p>5</p>
        </div> -->

        <div class="block active">
            <p class="slide-text">a decade of experience in the food service industry</p>
            <img src="/assets/img/home/finedining_og.jpg" alt="bar and fine dining">
            <!-- <img class="slide-img" src="https://w7.pngwing.com/pngs/218/24/png-transparent-white-and-green-number-1-number-number-1-blue-image-file-formats-text-thumbnail.png" alt="abc"> -->
        </div>

        <div class="block active">
            <p class="slide-text">a decade of experience in the food service industry</p>
            <img src="/assets/img/home/finedining_og.jpg" alt="bar and fine dining">
            <!-- <img class="slide-img" src="https://w7.pngwing.com/pngs/218/24/png-transparent-white-and-green-number-1-number-number-1-blue-image-file-formats-text-thumbnail.png" alt="abc"> -->
        </div>
    </div>


    </div>
    <br>

    <p>Let's work together and connect!</p>

    <!-- <b>Let</b>&#x27;s <b>wo</b>rk <b>toge</b>ther <b>t</b>o <b>bui</b>ld <b>th</b>e <b>ne</b>xt <b>bi</b>g <b>thi</b>ng. <b>Ta</b>ke <b>a</b> <b>lo</b>ok <b>a</b>t <b>m</b>y <b>portf</b>olio <b>an</b>d <b>let</b>&#x27;s <b>conn</b>ect! -->
        
    <div id="contact-me">
        contact me page link
    </div>

    <br>

    <h2 id="sub-title">Technologies and Languages</h2>
     
        
        
    
    <div class="image-grid">
        

        <a class="image-link-type1" href="projects">
            <img class="fade-in-image" src="assets/img/home/cpp.png" alt="image">
        </a>
        
        <a class="image-link-type1" href="projects">
            <img class="fade-in-image" src="assets/img/home/java2.png" alt="image">
        </a>
        
        <a class="image-link-type1" href="projects">
            <img class="fade-in-image" src="assets/img/home/python2.png" alt="image">
        </a>
        
        <a class="image-link-type1" href="projects">
            <img class="fade-in-image" src="assets/img/home/sqlserver.png" alt="image">
        </a>
        
        <a class="image-link-type1" href="projects">
            <img class="fade-in-image" src="assets/img/home/github3.png" alt="image">
        </a>
        
        <a class="image-link-type1" href="projects">
            <img class="fade-in-image" src="assets/img/home/linux.png" alt="image">
        </a>
        
        <a class="image-link-type1" href="projects">
            <img class="fade-in-image" src="assets/img/home/docker.png" alt="image">
        </a>
        
        <a class="image-link-type1" href="projects">
            <img class="fade-in-image" src="assets/img/home/aws.png" alt="image">
        </a>
        
        <a class="image-link-type1" href="projects">
            <img class="fade-in-image" src="assets/img/home/postgresql.png" alt="image">
        </a>
        
        <a class="image-link-type1" href="projects">
            <img class="fade-in-image" src="assets/img/home/jupyter.png" alt="image">
        </a>
        
        <a class="image-link-type1" href="projects">
            <img class="fade-in-image" src="assets/img/home/kubernetes.png" alt="image">
        </a>
        
        <a class="image-link-type1" href="projects">
            <img class="fade-in-image" src="assets/img/home/mysql.png" alt="image">
        </a>

        <br>
        
        <a class="image-link-type2 left" href="projects">
            <img class="fade-in-image" src="assets/img/home/django.png" alt="image">
        </a>
        
        <a class="image-link-type2 right" href="projects">
            <img class="fade-in-image" src="assets/img/home/swift2.png" alt="image">
        </a>
        
        <a class="image-link-type2 left" href="projects">
            <img class="fade-in-image" src="assets/img/home/node-js.png" alt="image">
        </a>
        
        <a class="image-link-type2 right" href="projects">
            <img class="fade-in-image" src="assets/img/home/oracle.png" alt="image">
        </a>
        
        <a class="image-link-type2 left" href="projects">
            <img class="fade-in-image" src="assets/img/home/dbeaver.png" alt="image">
        </a>







<!-- 

        <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image">
        <img class="fade-in-image" src="https://images.ctfassets.net/hrltx12pl8hq/3j5RylRv1ZdswxcBaMi0y7/b84fa97296bd2350db6ea194c0dce7db/Music_Icon.jpg" alt="image"> -->

    </div>
    <script src="assets/myJS/home.js"></script>


    <div id-="outro" class="text-block">
        <p class="text-box">
            I hope you will enjoy exploring my portfolio and that it will give you a good understanding of my abilities and potential. I am excited to continue my professional journey and am open to any opportunities that may arise. Thank you for taking the time to visit my portfolio.

            
        </p>

    </div>




    <div id="first-box" class="text-block">
                
        <p class="text-box">
            <!-- My name is Adrian and I am a senior computer science student at CUNY Queens College. I am excited to share with you my experience and skills that I have developed throughout my educational and professional journey. My passion for technology, software development and computer science have driven me to pursue a career in this field. -->
            <!-- <b>M</b>y <b>na</b>me <b>i</b>s <b>Adr</b>ian <b>an</b>d <b>I</b> <b>a</b>m <b>a</b> <b>sen</b>ior <b>comp</b>uter <b>scie</b>nce <b>stud</b>ent <b>a</b>t <b>CU</b>NY <b>Que</b>ens <b>Coll</b>ege. <b>I</b> <b>a</b>m <b>exci</b>ted <b>t</b>o <b>sha</b>re <b>wi</b>th <b>yo</b>u <b>m</b>y <b>exper</b>ience <b>an</b>d <b>ski</b>lls <b>th</b>at <b>I</b> <b>ha</b>ve <b>devel</b>oped <b>throu</b>ghout <b>m</b>y <b>educat</b>ional <b>an</b>d <b>profes</b>sional <b>jour</b>ney. <b>M</b>y <b>pass</b>ion <b>fo</b>r <b>techno</b>logy, <b>soft</b>ware <b>develo</b>pment <b>an</b>d <b>comp</b>uter <b>scie</b>nce <b>ha</b>ve <b>dri</b>ven <b>m</b>e <b>t</b>o <b>pur</b>sue <b>a</b> <b>car</b>eer <b>i</b>n <b>th</b>is <b>fie</b>ld. <b></b> -->
            
        </p>
        <p class="text-box" id="second">
            <!-- Throughout my studies, I have had the opportunity to work on various projects that have allowed me to develop a strong set of technical skills in programming languages such as Java, C/C++, Swift, Python..., as well as experience with various software development methodologies and tools.  -->
            <!-- <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b>Throu</b>ghout <b>m</b>y <b>stud</b>ies, <b>I</b> <b>ha</b>ve <b>ha</b>d <b>th</b>e <b>opport</b>unity <b>t</b>o <b>wo</b>rk <b>o</b>n <b>vari</b>ous <b>proj</b>ects <b>th</b>at <b>ha</b>ve <b>allo</b>wed <b>m</b>e <b>t</b>o <b>deve</b>lop <b>a</b> <b>str</b>ong <b>se</b>t <b>o</b>f <b>techn</b>ical <b>ski</b>lls <b>i</b>n <b>progra</b>mming <b>langu</b>ages <b>su</b>ch <b>a</b>s <b>Jav</b>a, <b>C/C</b>++, <b>Swi</b>ft, <b>Pytho</b>n..., <b>a</b>s <b>we</b>ll <b>a</b>s <b>exper</b>ience <b>wi</b>th <b>vari</b>ous <b>soft</b>ware <b>develo</b>pment <b>methodo</b>logies <b>an</b>d <b>too</b>ls. <b></b> -->
        </p>

    </div>
    
<p class="text-box">
    In addition, I also have a decade of experience in the food service industry, where I have developed a strong set of skills that are transferable to the IT and software engineering field such as time management, attention to detail, problem-solving, communication, adaptability and flexibility, understanding of basic computer software, mathematics, and excellent customer service.
</p>
<p class="text-box">
    I am confident that my knowledge, skills and experience will enable me to contribute effectively in any software development project. In addition to my technical skills, I am also able to apply my problem-solving abilities, attention to detail and ability to work in a team to deliver high-quality software.
</p>














  </body>

