/*
  Style for Homepage
*/

.pagination {
  color: var(--btn-patinator-text-color);
  font-family: 'Lato', sans-serif;

  a:hover {
    text-decoration: none;
  }

  .page-item {
    .page-link {
      color: inherit;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0;
      display: -webkit-box;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      border-radius: 50%;
      border: 1px solid var(--btn-paginator-border-color);
      background-color: var(--button-bg);

      &:hover {
        background-color: var(--btn-paginator-hover-color);
      }
    }

    &.active {
      .page-link {
        background-color: var(--btn-paginator-hover-color);
        color: var(--btn-text-color);
      }
    }

    &.disabled {
      cursor: not-allowed;

      .page-link {
        color: rgba(110, 125, 108, 0.57);
        border-color: var(--btn-paginator-border-color);
        background-color: var(--button-bg);
      }
    }

    &:first-child .page-link,
    &:last-child .page-link {
      border-radius: 50%;
    }
  } // .page-item

} // .pagination

#post-list {
  margin-top: 1.75rem;
  padding-right: 0.5rem;

  a:hover {
    text-decoration: none;
  }
  
  .post-preview {
    padding: 0.25rem;
    border-radius: 0.75rem;
    background: var(--card-bg);
    background: var(--main-wrapper-background);
    
    &:hover {
      border: 1.5px solid var(--card-border-color);
      transform: translate3d(0, -5px, 0);
      background: var(--card-hovor-bg);
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    }

    &:not(:last-child) {
      margin-bottom: 1.75rem;
    }

    h1 {
      font-size: 1.3rem;
      margin: 0;
	  font-weight: 800;
    }

    
    
    .post-meta {
      i {
        font-size: .83rem;
        color: var(--theme-grey);
        
        &:not(:first-child) {
          margin-left: 1.2rem;
        }
      }
      
      em {
        @extend %normal-font-style;
      }
    }
    
    .post-content {
      margin-top: 0.6rem;
      margin-bottom: 0.6rem;
      color: var(--post-list-text-color);

      > p {
        /* Make preview shorter on the homepage */
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .pin {

      > i {
        transform: rotate(45deg);
        padding-left: 3px;
        color: var(--pin-color);
        font-size: 2em;
      }

      > span {
        display: none;
        color: var(--theme-lnavy);
      }
    }

  } // .post-preview
} // #post-list

@media (hover: hover) {
  .post-preview {
    transition: transform .5s ease-in-out, background-color .45s ease-in-out;
  }
}



/* Hide SideBar and TOC */
@media all and (max-width: 830px) {
  .pagination {
    justify-content: space-evenly;

    .page-item {
      &:not(:first-child):not(:last-child) {
        display: none;
      }

    }

  }
}

/* Sidebar is visible */
@media all and (min-width: 831px) {
  #post-list {
    margin-top: 3rem;

    .post-preview {
      padding: 0.5rem;

      .post-meta {
        .pin {
          background: var(--pin-bg);
          border-radius: 5px;
          line-height: 1.4rem;
          height: 1.3rem;
          margin-top: 3px;
          padding-left: 1px;
          padding-right: 6px;
          
          > i {
            color: var(--theme-wnavy);
            font-size: 1.23em;
          }
          > span {
            display: inline;
          }
        }
      }
    }
  }

  .pagination {
    font-size: 0.85rem;

    .page-item {
      &:not(:last-child) {
        margin-right: 0.7rem;
      }

      .page-link {
        width: 2rem;
        height: 2rem;
      }

    }

    .page-index {
      display: none;
    }

  } // .pagination

}

/* Pannel hidden */
@media all and (max-width: 1200px) {
  #post-list {
    padding-right: 0;
  }
}
